<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="caption caption-md" style="min-width: 275px;">
            <select class="form-control" required id="idDanhMuc">
                <option value="allDanhMuc" >Tất Cả Danh Mục</option>
                <option ng-repeat="item in vm.cacDanhMucBDS" value="{{item.value}}" ng-selected="item.value == vm.bdsCate">{{item.text}}</option>
            </select>
        </div>
        <div class="caption caption-md" style="padding-left:5px;">
            <select class="form-control" required id="idTrangThai">
                <option value="allTrangThai" >Tất Cả Trạng Thái</option>
                <option ng-repeat="item in vm.cacLoaiNhuCau" value="{{item.value}}" ng-selected="item.value == vm.bdsCate">{{item.text}}</option>
                
            </select>
        </div>
        
        <div class="caption caption-md" style="padding-left:5px;">
            <a type="button" href="#" class="btn blue" ng-click="vm.appDung('idDanhMuc','idTrangThai')">Áp Dụng</a>
        </div>
        <!--
        <div class="inputs">
            <div class="portlet-input input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <input style="width: 280px;" type="text" class="form-control form-control-solid"  placeholder="Tìm kiếm nhu cầu ...">
                </div>
            </div>
        </div>
    --> 
    </div>
    <div class="portlet-title">
        <div class="caption width70 row">
            <div class="col-md-3 no-padding-right">
                <select class="bs-select form-control" id="idLuaChon">
                    <option value="0">Lựa Chọn</option>
                    <option value="delete">Xóa</option>
                </select>
            </div>
            <div class="col-md-1 no-padding-left">
                <button type="button" class="btn green" ng-click="vm.appDungLuaChon('select-checkBox','idLuaChon')">Áp Dụng Lựa Chọn</button>
            </div>
            <div class="col-md-3 text-center">
                <a type="button" href="#/nhuCau/chonNhuCauThemMoi" class="btn blue">Thêm Mới</a>
            </div>
            <div class="col-md-3 text-center" style="padding-left:5px;">
                <a type="button" href="#" class="btn blue">Duplicate</a>
            </div>
        </div>
        
        <div class="actions">
            <div class="padding-top-2">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th class="width5">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="select-all-checkBox" ng-click="vm.selectAllItem('select-all-checkBox','select-checkBox')"/>
                            <span></span>
                        </label>
                    </th>
                    <th class="width25"> Nội Dung </th>
                    <th> Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="select-checkBox" value="{{item.$id}}" class="chk-select-item"/> 
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="primary-link" href="#" ng-click="vm.chiTietnhuCau(item)"  style="word-break: break-all;">
                            {{item.noiDung}}
                        </a>
                    </td>
                    <td>
                        {{item.loaiNhuCauText}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>