<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="caption caption-md col-sm-2" style="min-width: 285px;">
            <select class="form-control" required id="idDanhMuc" ng-model="vm.item.khoBDSKey">
                <option ng-repeat="item in vm.khoBDSList" value="{{item.$id}}">{{item.text}}</option>
            </select>
        </div>
        <div class="caption caption-md" style="padding-left:5px;">
            <select class="form-control" required id="idTrangThai" ng-model="vm.item.nhuCauKey">
                <option value="allTrangThai">Chọn Loại Nhu Cầu</option>
                <option ng-repeat="item in vm.cacLoaiNhuCau" value="{{item.value}}" >{{item.text}}</option>
            </select>
        </div>
        <div class="caption caption-md" style="padding-left:5px;">
            <a type="button" href="#" class="btn blue" ng-click="vm.appDung(vm.item.khoBDSKey, vm.item.nhuCauKey)">Áp Dụng</a>
        </div>
        <!--
        <div class="inputs">
            <div class="portlet-input input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <input style="width: 280px;" type="text" class="form-control form-control-solid"  placeholder="Tìm kiếm nhu cầu ...">
                </div>
            </div>
        </div>
    -->
    </div>
    <div class="portlet-title">
        <div class="caption col-xs-12 no-padding-top">
            <div class="no-padding-left no-padding-right col-sm-2 margin-top-10" style="max-width: 285px;">
                <select class="bs-select form-control" id="idLuaChon">
                    <option value="0">Lựa Chọn</option>
                    <option value="delete">Xóa</option>
                </select>
            </div>
            <div class="col-sm-6 margin-top-10" style="padding-left:5px;">
                <span class="">
                    <a type="button" class="btn green" ng-click="vm.appDungLuaChon('select-checkBox','idLuaChon')">&nbsp;&nbsp;Áp Dụng&nbsp;</a>
                </span>
                <span class="">
                    <a type="button" href="#/nhuCau/chonNhuCauThemMoi" class="btn blue ">Thêm Mới</a>
                </span>
                <span class="">
                    <a type="button" href="#" class="btn blue">Nhân Bản</a>
                </span>
            </div>

            <!-- <div class="col-md-2 no-padding-left no-padding-right">
                        <button type="button" class="btn green col-md-12 " ng-click="vm.appDungLuaChon('select-checkBox','idLuaChon')">Áp Dụng</button>
                    </div>
                    <div class="col-md-3 text-center">
                        <a type="button" href="#/nhuCau/chonNhuCauThemMoi" class="btn blue">Thêm Mới</a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a type="button" href="#" class="btn blue">Duplicate</a>
                    </div> -->
        </div>

        <div class="actions col-xs-12">
            <div class="pull-right">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th class="width5">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="select-all-checkBox" ng-click="vm.selectAllItem('select-all-checkBox','select-checkBox')" />
                            <span></span>
                        </label>
                    </th>
                    <th class=""> Tiêu Đề</th>
                    <th class="hidden-xs hidden-sm"> Địa Chỉ </th>
                    <th class="hidden-xs"> Thông Tin</th>
                    <th> Giá</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="select-checkBox" value="{{item.$id}}" class="chk-select-item" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="primary-link" href="#" ng-click="vm.chiTietnhuCau(item)" ng-style="item.capDoColor">
                            {{item.tieuDe}}
                        </a>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <span class="text-primary bold">{{item.address}}</span>
                    </td>
                    <td class="hidden-xs">
                        Hướng:
                        <span class="font-green-sharp bold">{{item.huongNha}}</span>
                        <br> Tầng:
                        <span class="font-green-sharp bold">{{item.soTang}}</span>
                        <br> Ngang:
                        <span class="font-green-sharp bold">{{item.ngang|number:1}} m</span>
                        <br> Dài:
                        <span class="font-green-sharp bold">{{item.dai|number:1}} m</span>
                        <br> Diện tích:
                        <span class="font-green-sharp bold">{{item.dienTich}} m
                            <sup>2</sup>
                        </span>
                    </td>
                    <td>
                        Đơn giá:
                        <span class="font-red-intense bold">{{item.donGia}} VNĐ / m
                            <sup>2</span>
                        <br> Tổng giá:
                        <span class="font-red-intense bold">{{item.tongGia}} VNĐ</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>