<div class="row">
    <h4 class="text-center">Nhu cầu Bán</h4>
    <form role="form" id="createForm" name="createForm" novalidate ng-submit="nhuCauThemMoiVm.save(createForm)">
        <div class="tab-pane" id="tab_1">
            <!--Địa chỉ -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Thông Tin Cơ Bản</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.tieuDe.$error.required)}">
                                    <label class="control-label">Tiêu Đề
                                        <span class="required-field">*</span>

                                    </label>
                                    <input type="text" name="tieuDe" placeholder="Tiêu Đề" class="form-control" ng-model="nhuCauThemMoiVm.model.tieuDe"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.thanhPho.$error.required)}">
                                    <label class="control-label">Tỉnh / Thành phố
                                        <span class="required-field">*</span>

                                    </label>
                                    <!-- <input type="text" name="thanhPho" placeholder="Thành phố" class="form-control" ng-model="nhuCauThemMoiVm.model.thanhPho" /> -->
                                    <select name="thanhPho" ng-model="nhuCauThemMoiVm.model.thanhPho" class="form-control" ng-change="nhuCauThemMoiVm.changeCity()"
                                        required>
                                        <option value="" disabled>Tỉnh / Thành phố</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.cities" value="{{item.$id}}" ng-selected="item.$id == nhuCauThemMoiVm.model.thanhPho">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.quanHuyen.$error.required)}">
                                    <label class="control-label">Quận / Huyện
                                        <span class="required-field">*</span>
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="nhuCauThemMoiVm.model.quanHuyen"/> -->
                                    <select name="quanHuyen" ng-model="nhuCauThemMoiVm.model.quanHuyen" class="form-control" ng-change="nhuCauThemMoiVm.changeDistrict()"
                                        required>
                                        <option value="" disabled>Quận / Huyện</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.districts" value="{{item.$id}}" ng-selected="item.$id == nhuCauThemMoiVm.model.quanHuyen">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.thanhPho.$error.required)}">
                                    <label class="control-label">Phường / Xã
                                         
                                    </label>
                                    <!-- <input type="text" name="thanhPho" placeholder="Thành phố" class="form-control" ng-model="nhuCauThemMoiVm.model.thanhPho" /> -->
                                    <select name="phuongXa" ng-model="nhuCauThemMoiVm.model.phuongXa" class="form-control" required>
                                        <option value="" disabled>Phường / Xã</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.xaList" value="{{item.$id}}" ng-selected="item.$id == nhuCauThemMoiVm.model.phuongXa">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.duongPho.$error.required)}">
                                    <label class="control-label">Đường / Phố
                                         
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="nhuCauThemMoiVm.model.quanHuyen"/> -->
                                    <select name="duongPho" ng-model="nhuCauThemMoiVm.model.duongPho" class="form-control" required>
                                        <option value="" disabled>Đường / Phố</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.duongList" value="{{item.$id}}" ng-selected="item.$id == nhuCauThemMoiVm.model.duongPho">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.soNha.$error.required)}">
                                    <label class="control-label">Số nhà
                                         
                                    </label>
                                    <input type="text" name="soNha" placeholder="Số nhà" class="form-control" ng-model="nhuCauThemMoiVm.model.soNha"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.loaiViTri.$error.required)}">
                                    <label class="control-label">Loại Vị Trí
                                         
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="nhuCauThemMoiVm.model.quanHuyen"/> -->
                                    <select name="loaiViTri" ng-model="nhuCauThemMoiVm.model.loaiViTri" class="form-control">
                                        <option value="" disabled>--Loại Vị Trí</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.cacLoaiViTri" value="{{item.value}}" ng-selected="item.value == nhuCauThemMoiVm.model.loaiViTri">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.dienTich.$error.required)}">
                                    <label class="control-label">Diện Tich
                                         
                                    </label>
                                    <input type="text" name="dienTich" placeholder="Diện Tích" class="form-control" ng-model="nhuCauThemMoiVm.model.dienTich"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.duAn.$error.required)}">
                                    <label class="control-label">Dự Án
                                         
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="nhuCauThemMoiVm.model.quanHuyen"/> -->
                                    <select name="duAn" ng-model="nhuCauThemMoiVm.model.duAn" class="form-control">
                                        <option value="" disabled>--Dự Án</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.cacDuAn" value="{{item.value}}" ng-selected="item.value == nhuCauThemMoiVm.model.duAn">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.diaChiBDS.$error.required)}">
                                    <label class="control-label">Giá
                                         
                                    </label>
                                    <input type="text" name="gia" placeholder="Giá" class="form-control" ng-model="nhuCauThemMoiVm.model.gia"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.quanHuyen.$error.required)}">
                                    <label class="control-label">Thoả Thuận
                                         
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="nhuCauThemMoiVm.model.quanHuyen"/> -->
                                    <select name="thoaThuan" ng-model="nhuCauThemMoiVm.model.thoaThuan" class="form-control" ng-change="nhuCauThemMoiVm.changeDistrict()"
                                        required>
                                        <option value="" disabled>Thoả Thuận</option>
                                        <option  value="{{item.value}}" ng-selected="item.value == nhuCauThemMoiVm.model.thoaThuan">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.diaChiBDS.$error.required)}">
                                    <label class="control-label">Địa Chỉ Khác
                                    </label>
                                    <input type="text" name="diaChiBDS" placeholder="Địa Chỉ" class="form-control" ng-model="nhuCauThemMoiVm.model.diaChiBDS"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.thongTinMoTa.$error.required)}">
                                    <label class="control-label">Thông Tin Mô Tả
                                         
                                    </label>
                                    <textarea rows="6" name="thongTinMoTa" class="form-control" ng-model="nhuCauThemMoiVm.model.thongTinMoTa"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!-- END FORM-->
                    </div>
                </div>
                <!--Thông Tin Chung-->
            </div>

            <!--Thông tin khác-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Thông Tin Khác</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.ngang.$error.required)}">
                                    <label class="control-label">Ngang

                                    </label>
                                    <input type="text" name="ngang" placeholder="Ngang" class="form-control" ng-model="nhuCauThemMoiVm.model.ngang"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.dai.$error.required)}">
                                    <label class="control-label">Dài

                                    </label>
                                    <input type="text" name="dai" placeholder="Dài" class="form-control" ng-model="nhuCauThemMoiVm.model.dai"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " >
                                    <label class="control-label">Hướng Nhà

                                    </label>
                                    <select name="huongNha" ng-model="nhuCauThemMoiVm.model.huongNha" class="form-control">
                                        <option value="" disabled>--KXD</option>
                                        <option ng-repeat="item in nhuCauThemMoiVm.cacLoaiHuong " value="{{item.value}}" ng-selected="item.value == nhuCauThemMoiVm.model.huongNha">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.soTang.$error.required) || (createForm.soTang.$error.pattern)}">
                                    <label class="control-label">Số Tăng
                            
                                    </label>
                                    <input type="text" name="soTang" placeholder="--Số Tăng" class="form-control" ng-model="nhuCauThemMoiVm.model.soTang" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.soPhongNgu.$error.required) || createForm.soPhongNgu.$error.pattern}">
                                    <label class="control-label">Số Phòng Ngủ

                                    </label>
                                    <input type="text" name="soPhongNgu" placeholder="Số Phòng Ngủ" class="form-control" ng-model="nhuCauThemMoiVm.model.soPhongNgu"
                                        ng-pattern="numberRegx" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.soWC.$error.required)}">
                                    <label class="control-label">Số WC

                                    </label>
                                    <input type="text" name="soWC" placeholder="Số WC" class="form-control" ng-model="nhuCauThemMoiVm.model.soWC" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.noiThat.$error.required)}">
                                    <label class="control-label">Nội Thất
                                        <!--   -->
                                    </label>
                                    <textarea rows="5" type="text" name="noiThat" placeholder="Thông Tin Nội Thất" class="form-control" ng-model="nhuCauThemMoiVm.model.noiThat"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- Thông tin liên hệ-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Thông Tin Liên Hệ</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.tenLienHe.$error.required)}">
                                    <label class="control-label">Tên Liên Hệ
                                         
                                    </label>
                                    <input type="text" name="tenLienHe" placeholder="--Tên Liên Hệ" class="form-control" ng-model="nhuCauThemMoiVm.model.tenLienHe"
                                        ng-pattern="emailRegx" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                    <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.diaChi.$error.required)}">
                                        <label class="control-label">Địa Chỉ
                                             
                                        </label>
                                        <input type="text" name="diaChi" placeholder="--Địa Chỉ" class="form-control" ng-model="nhuCauThemMoiVm.model.diaChi"/>
                                    </div>
                                </div>
                            <div class="col-md-12">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.email.$error.required) || (createForm.email.$error.pattern || createForm.email.$error.email)}">
                                    <label class="control-label">Email
                                         
                                    </label>
                                    <input type="email" name="email" placeholder="Email" class="form-control" ng-model="nhuCauThemMoiVm.model.email"
                                        ng-pattern="emailRegx" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.dienThoai.$error.required)}">
                                    <label class="control-label">Điện Thoại
                                         
                                    </label>
                                    <input type="text" name="dienThoai" placeholder="Di Động" ui-mask="999-999-9999" class="form-control" ng-model="nhuCauThemMoiVm.model.dienThoai"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  " ng-class="{'has-error': (nhuCauThemMoiVm.showInvalid && createForm.diDong.$error.required)}">
                                    <label class="control-label">Di Động
                                         
                                    </label>
                                    <input type="text" name="diDong" placeholder="Di Động" ui-mask="999-999-9999" class="form-control" ng-model="nhuCauThemMoiVm.model.diDong"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class=" col-md-12">
            <div class="margin-top-20 pull-right" style="position: absolute; right: 10px;">
                <button class="btn green grreen-haze" type="submit" ng-disabled="">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>