<div class="row">       
    <div class="col-md-12">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption width70 row">                        
                    <div class="col-md-3 no-padding-right">                
                        <select name="thanhPho" ng-model="quyTrinhPhapLyListVm.cri.thanhPho" class="form-control" ng-change="quyTrinhPhapLyListVm.changeCity()">
                            <option value="all">Tất cả Tỉnh/Thành phố</option>
                            <option ng-repeat="item in quyTrinhPhapLyListVm.cities" value="{{item.$id}}" ng-selected="item.$id == quyTrinhPhapLyListVm.cri.thanhPho">{{item.text}}</option>
                        </select>                                        
                    </div>
                    <div class="col-md-3 no-padding-right">
                        <select name="quanHuyen" ng-model="quyTrinhPhapLyListVm.cri.quanHuyen" class="form-control">
                            <option value="all">Tất cả Quận/Huyện</option>
                            <option ng-repeat="item in quyTrinhPhapLyListVm.districts" value="{{item.$id}}" ng-selected="item.$id == quyTrinhPhapLyListVm.cri.quanHuyen">{{item.text}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 no-padding-right">
                        <buton class="btn green" ng-click="quyTrinhPhapLyListVm.search(true)">Lọc</button>
                    </div>                        
                </div>
                <div class="inputs">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid" ng-model="quyTrinhPhapLyListVm.cri.keyword" placeholder="Tìm kiếm..." ng-change="quyTrinhPhapLyListVm.search(true)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-title">
                <div class="caption width70 row">
                    <div class="col-md-3 no-padding-right">                        
                        <select class="bs-select form-control" id="action-list" ng-model="quyTrinhPhapLyListVm.selectAction">
                            <option>Chọn</option>
                            <option>Xóa</option>
                        </select>
                    </div>                        
                    <div class="col-md-1 no-padding-left">
                        <button type="button" class="btn green" ng-click="quyTrinhPhapLyListVm.apply('select-checkBox')">Áp dụng</button>
                    </div>                        
                    <div class="col-md-3 text-center">
                        <a href="#/quyTrinhPhapLy/quyTrinhPhapLy-add"  class="btn blue">Thêm Mới</a>                                                      
                    </div>
                </div>
                <div class="actions">
                    <list-paging ng-model="quyTrinhPhapLyListVm.paging"  change-page="changePage"></list-paging>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="width5">
                                    <label class="mt-checkbox mt-checkbox-outline">                                        
                                        <input type="checkbox" id="select-all-checkBox" ng-click="quyTrinhPhapLyListVm.selectAll('select-all-checkBox','select-checkBox')"/>
                                        <span></span>
                                    </label>
                                </th>
                                <th class="width45"> Tên Quy Trình </th>
                                <th class="width25"> Thành Phố </th>
                                <th class="width25"> Quận/Huyện </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in quyTrinhPhapLyListVm.models">
                                <td class="width5">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="select-checkBox" value="{{item.$id}}"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td class="width45"><a href="#/quyTrinhPhapLy/quyTrinhPhapLy-edit/{{item.$id}}"> {{item.tenQuyTrinh}} </a></td>
                                <td class="width25">{{quyTrinhPhapLyListVm.getThanhPhoName(item.thanhPho)}}</td>
                                <td class="width25">{{quyTrinhPhapLyListVm.getQuanHuyenName(item.thanhPho, item.quanHuyen)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>
    