<div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption col-md-12 text-right action-tools">
                                    <a href="javascript:;" ng-click="historyBack()" class="btn btn-circle grey-mint" title="Back">Back</a>
                                </div>
                            </div>
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Thông Tin Bất Động Sản</span>
                                </div>
                                <ul class="nav nav-tabs">
                                        <li ng-class="{active: key == ban_choThueModVm.activeTab}" ng-repeat="(key,tab) in ban_choThueModVm.tabs" ng-click="ban_choThueModVm.loadTab(key)">
                                            <a data-toggle="tab">{{tab.title}}</a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane fade" id="tab_{{key}}" ng-class="{'active in': key == ban_choThueModVm.activeTab}" ng-repeat="(key,tab) in ban_choThueModVm.tabs">
                                        <div ng-include="tab.url"></div>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
        <div class="col-md-6">
        </div>
    </div>