<div class="row" id="permission">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only blue" href="#/setting/danhMucBDS-list">
                        <i class="icon-list"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form ng-submit="danhMucBDSModVm.isAdd ? danhMucBDSModVm.add(form) : danhMucBDSModVm.edit(form)" role="form"  name="thisForm" novalidate>
                    <div class="form-body">
                        <div class="form-group col-md-6" ng-class="{'has-error': (thisForm.text.$error.required)&&thisForm.text.$touched}">
                            <label class="control-label">Loại Kho BĐS </label>
                            <input name="text" type="text" placeholder="Tên loại Kho BĐS" ng-model="danhMucBDSModVm.item.text" class="form-control" required ng-change="danhMucBDSModVm.convertTextToKey()"/>
                            <!-- <label class="control-label" ng-show="thisForm.text.$error.pattern">* This field does not allow special characters</label> -->
                        </div>
                        <div class="form-group col-md-6" ng-class="{'has-error': (thisForm.text.$error.required)&&thisForm.key.$touched}">
                            <label class="control-label">Data Key </label>
                            <input name="key" type="text" placeholder="Data Key" disabled ng-model="danhMucBDSModVm.item.key" class="form-control" required />
                            <!-- <label class="control-label" ng-show="thisForm.text.$error.pattern">* This field does not allow special characters</label> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-check-label" for="isDefault">Kho Mặc Định &nbsp</label>
                            <input id="isDefault" class="form-check-input" name="isDefault" type="checkbox" ng-model="danhMucBDSModVm.item.isDefault" class="form-control" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="padding-left-30 col-md-12">
                                <button type="submit" class="btn green"ng-disabled="thisForm.$invalid">
                                    <i class="fa fa-check"></i> Save
                                </button>
                                <button type="button" class="btn default" ng-click="danhMucBDSModVm.cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
