<div class="modal-header">
    <div class="caption caption-md">
        <i class="icon-globe theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">Thông Tin Người Tạo BĐS</span>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <form role="form" id="userForm" name="userForm" novalidate>
        <div class="form-group col-md-12">
            <label class="control-label">Email</label>
            <input type="email" disabled class="form-control" name="email" ng-model="vm.user.email" autocapitalize="off" />
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && userForm.firstname.$error.required) || userForm.firstname.$error.pattern}">
            <label class="control-label">First Name
                <span class="required-field">*</span>
            </label>
            <input type="text" name="firstname" disabled placeholder="First Name" class="form-control" required ng-pattern="nameRegx"
                ng-model="vm.user.firstName" />
            <label class="control-label" ng-show="userForm.firstname.$error.pattern">* This field does not allow special characters</label>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && userForm.lastname.$error.required) || userForm.lastname.$error.pattern}">
            <label class="control-label">Last Name
                <span class="required-field">*</span>
            </label>
            <input type="text" name="lastname" disabled placeholder="Last Name" class="form-control" required ng-pattern="nameRegx" ng-model="vm.user.lastName"
            />
            <label class="control-label" ng-show="userForm.lastname.$error.pattern">* This field does not allow special characters</label>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': userForm.phonenumber.$error.server}">
            <label class="control-label">Primary Phone</label>
            <input type="tel" uiMaskPlaceholder type="phone" disabled placeholder="Primary Phone" class="form-control" name="phonenumber"
                ng-keyup="vm.EnalblePhoneForm(userForm)" ng-model="vm.Phone" ui-mask="999-999-9999" />
            <br ng-if="userForm.phonenumber.$error.server">
            <label class="control-label" ng-if="userForm.phonenumber.$error.server">* {{vm.e_msges.phonenumber}}</label>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && userForm.address.$error.required)}">
            <label class="control-label">Address </label>
            <input name="address" type="text" disabled placeholder="Address" ng-model="vm.user.address" class="form-control" />
            <label class="control-label" ng-show="userForm.address.$error.pattern">* This field does not allow special characters</label>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && userForm.city.$error.required)}">
            <label class="control-label">City </label>
            <input name="city" type="text" disabled placeholder="City" ng-model="vm.user.city" class="form-control" />
        </div>
        <div class="form-group col-md-3" ng-class="{'has-error': vm.showInvalid && userForm.state.$error.required}">
            <label class="control-label">State </label>
            <select name="state" disabled ng-model="vm.user.state" class="form-control">
                <option value="" disabled>Please Choose State</option>
                <option ng-repeat="state in vm.states" value="{{state.value}}" ng-selected="state.value == vm.user.state">{{state.text}}</option>
            </select>
        </div>
        <div class="form-group col-md-3" ng-class="{'has-error': (vm.showInvalid && userForm.zipCode.$error.required) || userForm.zipCode.$error.pattern}">
            <label class="control-label">Zip</label>
            <input name="zipCode" type="text" disabled placeholder="Zip Code" ng-model="vm.user.zipCode" maxlength="5" ng-pattern="zipcodeRegx"
                ng-maxlength="5" class="form-control" />
        </div>
        <div class="form-group col-md-12">
            <label class="mt-checkbox mt-checkbox-outline">
                <input id="isAuthorized" disabled type="checkbox" name="isauthorized" ng-model="vm.user.isAuthorized" />
                <span></span>
            </label>
            <label for="isAuthorized">IsAuthorized</label>
        </div>
        <div class="form-group col-md-12" ng-class="{'has-error': vm.showInvalid && userForm.state.$error.required}">
            <label class="control-label">Loại User
                <span class="required-field">*</span>
            </label>
            <select name="loaiLienKet" ng-model="vm.model.loaiLienKetUser" required class="form-control">
                <option value="" disabled>Please Choose Users</option>
                <option ng-repeat="item in vm.cacLoaiLienKetUser" value="{{item.value}}" ng-selected="item.value == vm.model.loaiLienKetUser">{{item.text}}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn blue-steel" type="button" ng-disabled="userForm.$invalid" ng-click="vm.saveLienKetUsers()">Save</button>
    <button class="btn dark btn-outline" type="button" ng-click="vm.close()">Cancel</button>
</div>