<div class="row">
    <form role="form" id="createForm" name="createForm" novalidate ng-submit="vm.save(createForm)">
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.loaiGiamGia.$error.required)}">
            <label class="control-label">Loại giảm giá
                <span class="required-field">*</span>
            </label>
            <select name="loaiGiamGia" ng-model="vm.model.loaiGiamGia" class="form-control" required>
                <option value="" disabled>Chọn Loại Giảm Giá</option>
                <option ng-repeat="item in vm.cacLoaiGiamGia" value="{{item.value}}" ng-selected="item.value == vm.model.loaiGiamGia">{{item.text}}</option>
            </select>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.amount.$error.required) || createForm.amount.$error.pattern}">
            <label class="control-label">Số lượng
                <span class="required-field">*</span>
            </label>
            <div class="input-inline" ng-if="vm.model.loaiGiamGia === '0'">
                <div class="input-group">
                    <input class="form-control" name="amount" placeholder="" required ng-min="0" ng-max="100" type="number" ng-model="vm.model.amount">
                    <span class="input-group-addon coupon-group-addon">
                        %
                    </span>
                </div>
            </div>
            <div class="input-inline" ng-if="vm.model.loaiGiamGia === '1'">
                <div class="input-group">
                    <span class="input-group-addon coupon-group-addon">
                        $
                    </span> 
                    <input class="form-control" name="amount" required format-as-currency placeholder="" ng-pattern="currencyRegx" type="text" ng-model="vm.model.amount">
                    <label class="control-label" ng-show="createForm.amount.$error.pattern">* This field just is a currency</label>
                </div>
            </div>
        </div>
        <div class=" col-md-12">
            <div class="margin-top-20 pull-right">
                <button class="btn green grreen-haze" type="submit" ng-disabled="createForm.$invalid">
                    Save
                </button>
                <button class="btn default" type="button" ng-click="vm.cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>