<div class="row">
    <form role="form" id="createForm" name="createForm" novalidate ng-submit="vm.save(createForm)">
        <div class="tab-pane" id="tab_1">
            <!--Địa chỉ -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Thông Tin Cơ Bản</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tỉnh / Thành phố</label>
                                    <select name="thanhPho" ng-model="vm.model.thanhPho" class="form-control" ng-change="vm.changeCity()" required>
                                        <option value="notSelect">Tỉnh / Thành phố</option>
                                        <option ng-repeat="item in vm.cities" value="{{item.$id}}" ng-selected="item.$id == vm.model.thanhPho">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Quận / Huyện </label>
                                    <select name="quanHuyen" ng-model="vm.model.quanHuyen" class="form-control" ng-change="vm.changeDistrict()" required>
                                        <option value="notSelect">Quận / Huyện</option>
                                        <option ng-repeat="item in vm.districts" value="{{item.$id}}" ng-selected="item.$id == vm.model.quanHuyen">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Phường / Xã </label>
                                    <select name="phuongXa" ng-model="vm.model.phuongXa" class="form-control" ng-change="vm.changeStreet()">
                                        <option value="notSelect">Phường / Xã</option>
                                        <option ng-repeat="item in vm.xaList" value="{{item.$id}}" ng-selected="item.$id == vm.model.phuongXa">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Đường / Phố</label>
                                    <select name="duongPho" ng-model="vm.model.duongPho" class="form-control" ng-change="vm.changeStreet()">
                                        <option value="notSelect">Đường / Phố</option>
                                        <option ng-repeat="item in vm.duongList" value="{{item.$id}}" ng-selected="item.$id == vm.model.duongPho">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Loại BDS
                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="vm.model.quanHuyen"/> -->
                                    <!-- <select name="loaiBDS" ng-model="vm.model.loaiBDS" class="form-control" ng-change="vm.changeLoaiBDS(vm.model.loaiBDS)">
                                            <option ng-repeat="item in vm.loaiBDSList" value="{{item.value}}" ng-selected="item.$id == vm.model.loaiBDS">{{item.text}}</option>
                                        </select> -->
                                    <select class="form-control" ng-model="vm.model.loaiBDS" ng-options="item.value as item.text for item in vm.loaiBDSList" ng-change="vm.changeLoaiBDS(vm.model.loaiBDS)"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Loại Vị Trí

                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="vm.model.quanHuyen"/> -->
                                    <select name="loaiViTri" ng-model="vm.model.loaiViTri" class="form-control">
                                        <option value="notSelect">--Loại Vị Trí</option>
                                        <option ng-repeat="item in vm.cacLoaiViTri" value="{{item.value}}" ng-selected="item.value == vm.model.loaiViTri">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form1'">
                                <div class="form-group">
                                    <label class="control-label">Số Nhà
                                    </label>
                                    <input type="text" name="soNha" placeholder="Số Nhà" class="form-control" ng-model="vm.model.soNha" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form2' || vm.loaiBDSForm == 'form3'">
                                <div class="form-group">
                                    <label class="control-label">Khối / Khu
                                    </label>
                                    <input type="text" name="khoiKhu" placeholder="Khối / Khu" class="form-control" ng-model="vm.model.khoiKhu" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form2'">
                                <div class="form-group">
                                    <label class="control-label">Tòa Nhà / Lô
                                    </label>
                                    <input type="text" name="toaNhaLo" placeholder="Tòa Nhà / Lô" class="form-control" ng-model="vm.model.toaNhaLo" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form2'">
                                <div class="form-group">
                                    <label class="control-label">Tầng
                                    </label>
                                    <input type="text" name="tang" placeholder="Tầng" class="form-control" ng-model="vm.model.tang" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form2'">
                                <div class="form-group">
                                    <label class="control-label">Số Căn Hộ
                                    </label>
                                    <input type="text" name="soCanHo" placeholder="Số Căn Hộ" class="form-control" ng-model="vm.model.soCanHo" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form3'">
                                <div class="form-group">
                                    <label class="control-label">Lô
                                    </label>
                                    <input type="text" name="lo" placeholder="Lô" class="form-control" ng-model="vm.model.lo" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form3'">
                                <div class="form-group">
                                    <label class="control-label">Đường
                                    </label>
                                    <input type="text" name="loaiDuong" placeholder="Đường" class="form-control" ng-model="vm.model.loaiDuong" />
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.loaiBDSForm == 'form3'">
                                <div class="form-group">
                                    <label class="control-label">Số Nền
                                    </label>
                                    <input type="text" name="soNen" placeholder="Số Nền" class="form-control" ng-model="vm.model.soNen" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Dự Án

                                    </label>
                                    <!-- <input type="text" name="quanHuyen" placeholder="Quận / Huyện" class="form-control" ng-model="vm.model.quanHuyen"/> -->
                                    <select name="duAn" ng-model="vm.model.duAn" class="form-control">
                                        <option value="notSelect">--Dự Án</option>
                                        <option ng-repeat="item in vm.cacDuAn" value="{{item.value}}" ng-selected="item.value == vm.model.duAn">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Địa Chỉ Khác
                                    </label>
                                    <input type="text" name="diaChiBDS" placeholder="Địa Chỉ" class="form-control" ng-model="vm.model.diaChiBDS" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error': (vm.showInvalid && createForm.thongTinMoTa.$error.required)}">
                                    <label class="control-label">Thông Tin Mô Tả

                                    </label>
                                    <textarea rows="6" name="thongTinMoTa" class="form-control" ng-model="vm.model.thongTinMoTa"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!-- END FORM-->
                    </div>
                </div>
                <!--Thông Tin Chung-->
            </div>
            <!--Ban Do-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Bản Đồ</span> &nbsp; &nbsp;
                    </div>
                    <div class="col-xs-6">
                        <span class="bold uppercase">
                            <button type="button" class="btn default" ng-click="vm.getToaDo()">Lấy Tọa Độ Địa Chỉ</button>
                        </span>
                        <span class="bold uppercase">
                            <button type="button" class="btn default" ng-click="vm.getGPS()">&nbsp; &nbsp;Lấy Tọa Độ GPS&nbsp;&nbsp;&nbsp;</button>
                        </span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body map-google">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <!--Hinh Anh-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Hình Ảnh / Video</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body row">
                        <div class="col-md-12">
                            <ng-dropzone class="dropzone" options="vm.dzOptions" callbacks="vm.dzCallbacks" methods="vm.dzMethods"></ng-dropzone>
                        </div>
                        <div class="col-md-12">
                            <div class="actions padding-top-10 pull-right">
                                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th></th>
                                            <th class="width30 text-left"> Hình Ảnh / Video </th>
                                            <th class="width15 text-center"> Loại </th>
                                            <th class="width30 text-left">Ghi Chú</th>
                                            <th class="width20 text-center"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                                            <td colspan="2" style="vertical-align: middle; text-align: center;">
                                                <img class="lib-media-icon" ng-src="{{item.downloadUrl}}" alt="media" style="width: 100%;">
                                                <label>{{item.fileName}}</label>
                                            </td>
                                            <td class="text-center">
                                                {{item.loai}}
                                            </td>
                                            <td>
                                                <textarea rows="5" name="desc" placeholder="Ghi Chú" ng-model="item.fileDescription" class="form-control"></textarea>
                                                <a href="#" title="Lưu" ng-click="vm.saveMedia(item)" class="padding-5 badge badge-success margin-top-5" style="float: right;">
                                                    Lưu
                                                </a>
                                            </td>
                                            <td align="center">
                                                <button class="btn padding-5 badge badge-warning" title="Sao Chép Đường Dẫn" ngclipboard data-clipboard-text="{{item.downloadUrl}}">
                                                    <i class="fa fa-link "></i>
                                                </button>
                                                <a href="#" title="Xoá" ng-click="vm.deleteMedia(item)" class="padding-5 badge badge-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <!--Thông tin khác-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Thông Tin Chung</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <h3 class="form-section no-margin-top">Diện Tích</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Diện Tích &nbsp; {{vm.model.dienTich | currency: "": 0}} m
                                        <sup>2</sup>

                                    </label>
                                    <input type="number" name="dienTich" placeholder="Diện Tích" class="form-control" ng-model="vm.model.dienTich" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Diện tích xây dựng (m2)

                                    </label>
                                    <input type="number" name="dienTichXayDung" placeholder="Diện tích xây dựng" class="form-control" ng-model="vm.model.dienTichXayDung"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Diện tích Khuôn Viên (m2)

                                    </label>
                                    <input type="number" name="dienTichKhuonVien" placeholder="Diện tích Khuôn Viên" class="form-control" ng-model="vm.model.dienTichKhuonVien"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Hậu

                                    </label>
                                    <select name="hau" ng-model="vm.model.hau" class="form-control">
                                        <option value="" disabled>Chọn Hậu</option>
                                        <option ng-repeat="item in vm.cacLoaiHau" value="{{item.value}}" ng-selected="item.value == vm.model.hau">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Ngang

                                    </label>
                                    <input type="text" name="ngang" placeholder="Ngang" class="form-control" ng-model="vm.model.ngang" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Dài

                                    </label>
                                    <input type="text" name="dai" placeholder="Dài" class="form-control" ng-model="vm.model.dai" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="form-section">Không Gian</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Phòng khách

                                    </label>
                                    <input type="text" name="phongKhach" placeholder="Phòng khách" class="form-control" ng-model="vm.model.phongKhach" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Phòng Ngủ

                                    </label>
                                    <input type="text" name="soPhongNgu" placeholder="Số Phòng Ngủ" class="form-control" ng-model="vm.model.soPhongNgu" ng-pattern="numberRegx"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Phòng ăn

                                    </label>
                                    <input type="text" name="phongAn" placeholder="Phòng ăn" class="form-control" ng-model="vm.model.phongAn" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Nhà bếp

                                    </label>
                                    <input type="text" name="nhaBep" placeholder="Nhà bếp" class="form-control" ng-model="vm.model.nhaBep" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Số WC

                                    </label>
                                    <input type="text" name="soWC" placeholder="Số WC" class="form-control" ng-model="vm.model.soWC" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Sân trước

                                    </label>
                                    <input type="text" name="sanTruoc" placeholder="Sân trước" class="form-control" ng-model="vm.model.sanTruoc" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Sân sau

                                    </label>
                                    <input type="text" name="sanSau" placeholder="Sân sau" class="form-control" ng-model="vm.model.sanSau" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Sân thượng

                                    </label>
                                    <input type="text" name="sanThuong" placeholder="Sân thượng" class="form-control" ng-model="vm.model.sanThuong" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Giếng trời

                                    </label>
                                    <input type="text" name="giengTroi" placeholder="Giếng trời" class="form-control" ng-model="vm.model.giengTroi" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Tầng lửng

                                    </label>
                                    <input type="text" name="tangLung" placeholder="Tầng lửng" class="form-control" ng-model="vm.model.tangLung" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Hầm

                                    </label>
                                    <input type="text" name="ham" placeholder="Hầm" class="form-control" ng-model="vm.model.ham" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Hồ bơi

                                    </label>
                                    <input type="text" name="hoBoi" placeholder="Hồ bơi" class="form-control" ng-model="vm.model.hoBoi" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Gym

                                    </label>
                                    <input type="text" name="gym" placeholder="Gym" class="form-control" ng-model="vm.model.gym" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Số Tầng
                                    </label>
                                    <input type="number" name="soTang" placeholder="--Số Tầng" class="form-control" ng-model="vm.model.soTang" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="form-section">Khác</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Số đăng ký

                                    </label>
                                    <input type="text" name="soDangKy" placeholder="Số đăng ký" class="form-control" ng-model="vm.model.soDangKy" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Nguồn

                                    </label>
                                    <select name="nguon" ng-model="vm.model.nguon" class="form-control">
                                        <option value="" disabled>Chọn Nguồn</option>
                                        <option ng-repeat="item in vm.cacNguonBDS" value="{{item.value}}" ng-selected="item.value == vm.model.nguon">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Trung tâm thương mại

                                    </label>
                                    <input type="text" name="ttThuongMai" placeholder="Trung tâm thương mại" class="form-control" ng-model="vm.model.ttThuongMai"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">CV môi giới

                                    </label>
                                    <input type="text" name="cvMoiGioi" placeholder="CV môi giới" class="form-control" ng-model="vm.model.cvMoiGioi" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Phí MG (VNĐ)

                                    </label>
                                    <input type="text" name="phiMG" placeholder="Phí MG" class="form-control" ng-model="vm.model.phiMG" ng-pattern="currencyRegx"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Năm xây dựng

                                    </label>
                                    <input type="text" name="namXayDung" placeholder="Numberic" class="form-control" ng-model="vm.model.namXayDung" ng-pattern="numberRegx"
                                    />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Pháp lý

                                    </label>
                                    <input type="text" name="phapLy" placeholder="Pháp lý" class="form-control" ng-model="vm.model.phapLy" />
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  ">
                                    <label class="control-label">Tỷ lệ MG

                                    </label>
                                    <input type="text" name="tyLeMG" placeholder="Tỷ lệ MG" class="form-control" ng-model="vm.model.tyLeMG" />
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group  " >
                                    <label class="control-label">Diễn giải
                                        <!--   -->
                                    </label>
                                    <textarea rows="2" type="text" name="dienGiai" placeholder="Diễn giải" class="form-control" ng-model="vm.model.dienGiai"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label class="control-label">Nội Thất
                                        <!--   -->
                                    </label>
                                    <textarea rows="5" type="text" name="noiThat" placeholder="Thông Tin Nội Thất" class="form-control" ng-model="vm.model.noiThat"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class=" col-md-12">
            <div class="margin-top-20 pull-right">
                <button class="btn green grreen-haze" type="submit" ng-disabled="">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>