<div class="row">
    <form role="form" id="createForm" name="createForm" novalidate ng-submit="vm.save(createForm)">
        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.loaiNoiThat.$error.required)}">
            <label class="control-label">Loại Nội Thất
                <span class="required-field">*</span>
            </label>
            <select name="loaiNoiThat" ng-model="vm.loaiNoiThatId" class="form-control" required>
                <option value="" disabled>Chọn Nội Thất</option>
                <option ng-repeat="item in vm.cacLoaiNoiThat" value="{{item.value}}" ng-selected="item.value == vm.loaiNoiThatId">{{item.text}}</option>
            </select>
        </div>
        <div class=" col-md-12">
            <div class="margin-top-20 pull-right">
                <button class="btn green grreen-haze" type="submit" ng-disabled="createForm.$invalid">
                    Save
                </button>
                <button class="btn default" type="button" ng-click="vm.cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>