<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="fileinput fileinput-new" data-provides="fileinput" style="width:100%;">
                    <!-- <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 151px;"></div> -->
                    <div class="profile-userpic text-center padding-10">
                        <p ng-if="userDetailVm.user.photoURL ===''" class="img-responsive" data-letters="{{userDetailVm.dataLetterPic}}" ></p>
                        <img ng-if="userDetailVm.user.photoURL !==''" src="{{ userDetailVm.user.photoURL}}" id="imgProfile" class="img-responsive" alt="profile-image">       
                    </div>
                    <div class="text-center">
                        <span class="btn-file" style="cursor: pointer; color:blue;">
                            <span class="fileinput-new"> Cập Nhật Ảnh Đại Diện </span>
                            <input type="file" id="avatar-file" name=""> 
                        </span>
                    </div>
                </div>
                
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{userDetailVm.user.email}}</div>
                    <!--<div class="profile-usertitle-job">{{userDetailVm.user.occupation}} </div>-->
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!-- <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle red btn-sm">Message</button>
                </div> -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <!--<li>
                            <a href="page_user_profile_1.html">
                                <i class="icon-home"></i> Overview
                            </a>
                        </li>
                        <li class="active">
                            <a href="page_user_profile_1_account.html">
                                <i class="icon-settings"></i> Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="page_user_profile_1_help.html">
                                <i class="icon-info"></i> Help
                            </a>
                        </li>-->
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <!-- <div class="portlet light bordered">
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 51 </div>
                        <div class="uppercase profile-stat-text"> Tasks </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 61 </div>
                        <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>
                </div>
                <div>
                    <h4 class="profile-desc-title">About Marcus Doe</h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="#">www.happyshopper.com</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="#">@happyshopper</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="#">happyshopper</a>
                    </div>
                </div>
            </div> -->
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption col-md-12 text-right action-tools">
                                <a href="javascript:;" ng-click="historyBack()" class="btn btn-circle grey-mint" title="Back">Trở về</a>
                            </div>
                        </div>
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Thông Tin Người dùng</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab" ng-click="userDetailVm.loadData()">Thông Tin</a>
                                </li>
                                <li ng-if="userDetailVm.adminRole">
                                    <a href="#tab_1_2" data-toggle="tab" ng-click="userDetailVm.loadData()">Phân Quyền</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab" ng-click="userDetailVm.loadData()">  BĐS  </a>
                                </li>
                                <li>
                                    <a href="#tab_1_4" data-toggle="tab" ng-click="userDetailVm.loadData()">Nhu Cầu</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- Tab thông tin -->
                                <div class="tab-pane active row" id="tab_1_1">
                                     <a href="javascript:;" class="btn blue text-right" ng-click="userDetailVm.resetPassword()" style="float: right;"> Thay đổi mật khẩu </a>
                                    <form role="form" id="editUserForm" name="editUserForm" novalidate ng-submit="userDetailVm.saveEdit(editUserForm)" >
                                        <div class="form-group col-md-12" ng-class="{'has-error': (userDetailVm.showInvalid && editUserForm.username.$error.required) || editUserForm.username.$error.pattern}">
                                            <label class="control-label">Tên đăng nhập <span class="required-field">*</span></label>
                                            <input type="text" name="username" placeholder="Tên đăng nhập" disabled class="form-control" required ng-pattern="nameRegx" ng-model="userDetailVm.user.userName"/>                                            
                                            <label class="control-label" ng-show="editUserForm.username.$error.pattern">* Không được nhập ký tự đăc biệt</label>
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (editUserForm.phonenumber.$error.pattern||editUserForm.phonenumber.$error.required)}">
                                                <label class="control-label" >Điện Thoại<span class="required-field"> *</span></label> 
                                                <input type="text" maxlength="11" minlength="10"  required placeholder="Primary Phone" class="form-control" name="phonenumber" ng-keyup="userDetailVm.EnalblePhoneForm(editUserForm)" ng-model="userDetailVm.Phone" ng-pattern="phoneRegx" />
                                                <label class="control-label" ng-show="editUserForm.phonenumber.$error.required">* Cần nhập Số Điện Thoại</label>
                                                <label class="control-label" ng-show="editUserForm.phonenumber.$error.pattern">* Số Điện thoại chỉ được nhập số</label>
                                                <label class="control-label font-green-sharp" ng-show="editUserForm.phonenumber.$error.minlength&&!editUserForm.phonenumber.$error.pattern">* Số Điện thoại quá ngắn</label>
                                                <label class="control-label font-red-intense bold" ng-show="userDetailVm.existedPhone">* Số Điện thoại này đã tồn tại. Vui lòng nhập số khác!</label>
                                            </div>                                            
                                        <div class="form-group col-md-12">
                                            <label class="control-label">E-mail</label>
                                            <input type="email" class="form-control" name="email" ng-model="userDetailVm.user.email" autocapitalize="off"/>
                                        </div>  
                                        <div class="form-group col-md-6" ng-class="{'has-error': (userDetailVm.showInvalid && editUserForm.firstname.$error.required) || editUserForm.firstname.$error.pattern}">
                                            <label class="control-label">Tên <span class="required-field">*</span></label>
                                            <input type="text" name="firstname" placeholder="Tên" class="form-control" required ng-pattern="nameRegx" ng-model="userDetailVm.user.firstName"/>
                                            <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.firstname.$error.required">* This field is required</label>-->
                                            <label class="control-label" ng-show="editUserForm.firstname.$error.pattern">* Không được nhập ký tự đăc biệt</label>
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{'has-error': (userDetailVm.showInvalid && editUserForm.lastname.$error.required) || editUserForm.lastname.$error.pattern}">
                                            <label class="control-label">Họ và Chữ lót <span class="required-field">*</span></label>
                                            <input type="text" name="lastname" placeholder="Họ và Chữ lót" class="form-control"required ng-pattern="nameRegx" ng-model="userDetailVm.user.lastName"/>
                                            <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.lastname.$error.required">* This field is required</label>-->
                                            <label class="control-label" ng-show="editUserForm.lastname.$error.pattern">* Không được nhập ký tự đăc biệt</label>
                                        </div>
                                        
                                        <div class="form-group col-md-6" ng-class="{'has-error': (userDetailVm.showInvalid && editUserForm.address.$error.required)}">
                                            <label class="control-label" >Địa chỉ </label>
                                            <input name="address" type="text" placeholder="Address" ng-model="userDetailVm.user.address" class="form-control" />
                                            <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.address.$error.required">* This field is required</label>-->
                                            <label class="control-label" ng-show="editUserForm.address.$error.pattern">* Không được nhập ký tự đăc biệt</label>
                                        </div>
                                         <div class="form-group col-md-6" ng-class="{'has-error': userDetailVm.showInvalid && editUserForm.city.$error.required}">
                                            <label class="control-label" >Tỉnh / Thành phố </label>
                                            <select name="city" ng-model="userDetailVm.user.city" class="form-control" ng-change="userDetailVm.changeCity()">
                                                <option value="notSelect" >Tỉnh / Thành phố</option>
                                                <option ng-repeat="item in userDetailVm.cities" value="{{item.$id}}" ng-selected="item.$id == userDetailVm.user.city">{{item.text}}</option>
                                            </select>
                                            <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.state.$error.required">* This field is required</label>-->
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{'has-error': userDetailVm.showInvalid && editUserForm.district.$error.required}">
                                           <label class="control-label" >Quận / Huyện </label>
                                           <select name="district" ng-model="userDetailVm.user.district" class="form-control" ng-change="userDetailVm.changeDistrict()">
                                               <option value="notSelect" >Quận / Huyện</option>
                                               <option ng-repeat="item in userDetailVm.districts" value="{{item.$id}}" ng-selected="item.$id == userDetailVm.user.district">{{item.text}}</option>
                                           </select>
                                           <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.state.$error.required">* This field is required</label>-->
                                       </div>
                                       <div class="form-group col-md-6" ng-class="{'has-error': userDetailVm.showInvalid && editUserForm.ward.$error.required}">
                                          <label class="control-label" >Phường / Xã </label>
                                          <select name="ward" ng-model="userDetailVm.user.ward" class="form-control" >
                                              <option value="notSelect" >Phường / Xã</option>
                                              <option ng-repeat="item in userDetailVm.wards" value="{{item.$id}}" ng-selected="item.$id == userDetailVm.user.ward">{{item.text}}</option>
                                          </select>
                                          <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.state.$error.required">* This field is required</label>-->
                                      </div>
                                      <div class="form-group col-md-6" ng-class="{'has-error': userDetailVm.showInvalid && editUserForm.ward.$error.required}">
                                            <label class="control-label" >Loại User </label>
                                            <select name="cacLoaiUser" ng-model="userDetailVm.user.loaiUser" class="form-control" >
                                                <option value="" disabled >Chọn Loại User...</option>
                                                <option ng-repeat="item in userDetailVm.cacLoaiUser" value="{{item.value}}" ng-selected="item.value == userDetailVm.user.loaiUser">{{item.text}}</option>
                                            </select>
                                            <!--<label class="control-label" ng-show="userDetailVm.showInvalid && editUserForm.state.$error.required">* This field is required</label>-->
                                         </div>
                                        <div class="form-group col-md-6">
                                            <label class="mt-checkbox mt-checkbox-outline" >
                                                <input id="isAuthorized" type="checkbox" name="isauthorized" ng-model="userDetailVm.user.isAuthorized"/>
                                                <span></span>
                                            </label>
                                            <label for="isAuthorized" >Ủy quyền</label>
                                        </div>
                                        <div class=" col-md-12">
                                            <div class="margin-top-20">
                                                <button class="btn green" ng-disabled="editUserForm.$invalid" type="submit" >
                                                    Lưu Lại
                                                </button>
                                                <button class="btn default " type="button" ng-click="userDetailVm.cancel()">
                                                    Hủy
                                                </button> 
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END TAB Thông tin -->
            
                                <!-- END CHANGE PASSWORD TAB -->
                                <!-- PRIVACY SETTINGS TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <div class="col-md-12 text-right margin-bottom-10">
                                        <a href="#" class="btn blue" ng-click="userDetailVm.showPopupAddUserToRole()">Thêm quyền</a>
                                    </div>
                                    <form role="form" id="changeUserRoles" name="changeUserRoles" novalidate ng-submit="userDetailVm.saveChangeRole()">
                                        <table class="table table-light table-hover">            
                                            <tr ng-repeat="item in userDetailVm.userRoles" ng-if="userDetailVm.userRoles.length > 0">
                                                <td class="bold">{{item.name}}</td>
                                                <td>
                                                    {{item.permissionstxt}}
                                                </td>
                                                <td>
                                                    <a href="#" ng-click="userDetailVm.removeRole($index)">
                                                        <i class="fa fa-close font-red"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr ng-if="userDetailVm.userRoles.length == 0">
                                                <td>Người dùng chưa được cấp quyền</td>
                                            </tr>
                                        </table>
                                        <!--end profile-settings-->
                                        <div class="margin-top-10">
                                            <button class="btn green" type="submit" >
                                                Lưu lại
                                            </button>
                                            <button class="btn default" type="button" ng-click="userDetailVm.cancelChangeUserRoles()">
                                                Hủy bỏ
                                            </button>
                                           
                                        </div>
                                    </form>
                                </div>
                                <!-- END PRIVACY SETTINGS TAB -->
                                <!--start BĐS-->
                                <div class="tab-pane" id="tab_1_3">
                                    <div class="portlet light portlet-fit bordered">
                                        <div class="portlet-title">
                                            <div class="caption ">
                                                <div class="col-md-10 col-sm-10 col-xs-10 no-padding-right">
                                                    <select class="bs-select form-control" ng-model="roleVm.selectAction">
                                                        <option>Chọn</option>
                                                        <option>Xóa</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                    <button type="button" class="btn green" ng-click="roleVm.apply('select-role')">Áp dụng</button>
                                                </div>                   
                                            </div>
                                            <div class="actions margin-top-5">
                                                <!--<list-paging ng-model="roleVm.paging" on-change="roleVm.changePage()"></list-paging>-->
                                                <list-paging ng-model="roleVm.paging" change-page="changePage"></list-paging>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-scrollable table-scrollable-borderless">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr class="uppercase">
                                                            <th>
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" name="tnc" id="select-all-role" ng-click="roleVm.selectAll('select-all-role','select-role')"/>
                                                                    <span></span>
                                                                </label>
                                                            </th>
                                                            <th> Tên </th>
                                                            <th> Mô tả </th>
                                                            <th> Số </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in roleVm.pagedItems[roleVm.paging.currentPage]">
                                                            <td>
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" name="select-role" value="{{item.$id}}"/>
                                                                    <span></span>
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <a class="primary-link" href="#/role/list/{{item.$id}}">{{item.name}}</a>
                                                            </td>
                                                            <td>{{item.description}}</td>
                                                            <td>
                                                                {{item.number}}
                                                            </td>
                                                        </tr>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                            
                                        </div>
                                    </div>
                                </div>
                                <!--end BĐS-->
                                <!--start Nhu Cầu-->
                                <div class="tab-pane" id="tab_1_4">
                                    <p>Xin chào</p>
                                    
                                </div>
                                <!--end Nhu Cầu-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE BASE CONTENT