<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="col-sm-6 padding-top-5 no-padding-left no-padding-right" >
            <select name="khoBDSKey" ng-model="vm.khoBDSKey" class="form-control" required ng-change="vm.executeSearchItems(vm.keyword)">
                <option value="" disabled>Chọn Kho</option>
                <option ng-repeat="item in vm.khoBDSList" value="{{item.value}}" ng-selected="item.value == vm.khoBDSKey">{{item.text}}</option>
            </select>
        </div>
        <div class="col-sm-6 padding-top-5 no-padding-right">
            <div class="portlet-input input-inline" style="float: right;">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="vm.executeSearchItems(vm.keyword)"></i>
                    <input style="width: 280px;" type="text" class="form-control form-control-solid" ng-model="vm.keyword" placeholder="tìm kiếm" ng-keydown="$event.keyCode === 13 && vm.executeSearchItems(vm.keyword)">
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-title">
        <div class="caption width70 row">
            <div class="col-sm-3 no-padding-right padding-bottom-5">
                <select class="bs-select form-control" id="action-list">
                    <option value="0">-- Chọn --</option>
                    <option value="delete">Xóa</option>
                </select>
            </div>
            <div class="col-sm-6">
                <span class="">
                    <a type="button" class="btn green" ng-click="vm.applyAction('select-item','action-list')">Áp dụng</a>
                </span>
                <span class="">
                    <a type="button" href="#" ng-click="vm.addNew()" class="btn blue">Thêm mới</a>
                </span>
            </div>
        </div>
        <div class="actions">
            <div class="padding-top-2">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th class="width5">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="select-all-item" ng-click="vm.selectAllItem('select-all-item','select-item')" />
                            <span></span>
                        </label>
                    </th>
                    <th> Địa Chỉ </th>
                    <th> Kích Thước </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="select-item" value="{{item.$id}}" class="chk-select-item" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a class="primary-link" href="#" ng-click="vm.edit(item.$id)">
                           {{vm.getFullAddress(item)}}
                        </a>
                    </td>
                    <td>
                        Ngang: <span class="font-green-sharp bold">{{item.ngang|number:1}} m</span> <br>
                        Dài: <span class="font-green-sharp bold">{{item.dai|number:1}} m</span> <br>
                        Diện tích: <span class="font-green-sharp bold">{{item.dienTich|number:1}} m<sup>2</sup></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>