<div class="row" id="permission">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only blue" href="#/setting/nhuCau-list">
                        <i class="icon-list"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form ng-submit="nhuCauModVm.isAdd ? nhuCauModVm.add(form) : nhuCauModVm.edit(form)" role="form"  name="thisForm" novalidate>
                    <div class="form-body">
                        <div class="form-group col-md-6" ng-class="{'has-error': (thisForm.text.$error.required)&&thisForm.text.$touched}">
                            <label class="control-label">Tên Loại Nhu Cầu </label>
                            <input name="text" type="text" placeholder="Nội dung loại Nhu Cầu" ng-model="nhuCauModVm.item.text" class="form-control" required />
                            <!-- <label class="control-label" ng-show="thisForm.text.$error.pattern">* This field does not allow special characters</label> -->
                        </div>
                        <div class="form-group col-md-6" ng-class="{'has-error': (thisForm.formLoai.$error.required)&&thisForm.formLoai.$touched}">
                            <label class="control-label">Mẫu Loại Nhu Cầu </label>
                            <select name="formLoai" class="bs-select form-control" placehoder="Chọn mẫu loại nhu cầu" ng-model="nhuCauModVm.item.form" required>
                                <option value="" disabled>Chọn mẫu Loại Nhu Cầu </option>
                                <option value="ban">Bán</option>
                                <option value="mua">Mua</option>
                                <option value="thue">Thuê</option>
                                <option value="cho-thue">Cho Thuê</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="padding-left-30 col-md-12">
                                <button type="submit" class="btn green"ng-disabled="thisForm.$invalid">
                                    <i class="fa fa-check"></i> Lưu lại
                                </button>
                                <button type="button" class="btn default" ng-click="nhuCauModVm.cancel()">Hủy bỏ</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
