<div class="portlet light bordered tasks-widget">

    <div class="portlet-title">
        <div class="caption row">
            <div class="col-md-3 text-center">
                <a type="button" href="#" ng-click="btnAddNew_Click()" class="btn blue">Thêm mới</a>
            </div>
        </div>
        <!--<div class="actions">
            <div class="padding-top-2">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>-->
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th style="text-align:center"> Tên nhóm </th>
                    <th style="text-align:center"> Số thành viên </th>
                    <th style="text-align:center"> Ngày tạo </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Groups">
                    <td><a href="#/quanLyNhom/detail/{{item.$id}}">{{item.tenNhom}}</a></td>
                    <td style="text-align:center">{{item.Members.length}}</td>
                    <td style="text-align:center">{{item.timestampCreated | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>