<div class="portlet light bordered tasks-widget" id="quangCaos">
    <div class="portlet-title">



        <div class="caption width70 row">
            <div class="col-md-3 no-padding-right">
                <select class="bs-select form-control" id="action-list">
                    <option value="0">Bulk Actions</option>
                    <option value="delete">Delete</option>
                    <!-- <option value="disable">Disable</option>
                    <option value="enable">Enable</option> -->
                </select>
            </div>
            <div class="col-md-1 no-padding-left">
                <button type="button" class="btn green" ng-click="vm.applyAction('select-quangCao','action-list')">Apply</button>
            </div>
           
            
             <a class="btn  blue" href="#/quangCao/details">
                  Thêm mới
            </a>

        </div>
        <div class="actions">
            <div class="padding-top-2">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th class="width5">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="select-all-quangCao" ng-click="vm.selectAllQuangCao('select-all-quangCao','select-quangCao')"/>
                            <span></span>
                        </label>
                    </th>
                    <th class="width5"> Image </th>
                    <th class="width25"> Vị Trí </th>
                    <th class="width25"> Đường Dẫn </th>
                    <th class="hidden-sm text-center width15"> Thời Gian Hiển Thị  </th>
          
                    <th class="hidden-sm text-center width5"> Phone Numbber </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="select-quangCao" value="{{item.$id}}" class="chk-select-quangCao"/> 
                            <span></span>
                        </label>
                    </td>

                    <td class="fit">
                        <p ng-if="item.photoURL ===''" class="img-responsive quangCao-pic" data-letters="{{vm.dataLetterPic(item)}}" ></p>
                        <img ng-click="vm.edit(item.$id)"  ng-if="item.photoURL !==''"   ng-src="{{item.photoURL}}" class="quangCao-pic" class="" alt="profile-image"> 
                    </td>

                    <!--  <td> <a class="primary-link" href="#" ng-click="vm.edit(item.$id)" style="word-break: break-all;">{{item.viTri}}</a> </td> -->
                    <td>
                        <select class="bs-select form-control" id="action-list" ng-model="item.viTri" >
                            <option value="top" selected="item.viTri == 'top'">Banner Top</option>
                            <option value="left1" selected="item.viTri == 'left1'">Banner Left 1</option>
                            <option value="left2" selected="item.viTri == 'left2'">Banner Left 2</option>
                            <option value="right1" selected="item.viTri == 'right1'">Banner Right 1</option>
                            <option value="right2" selected="item.viTri == 'right2'">Banner Right 2</option>
                        </select>
                    </td>
                    <td> <a class="primary-link" href="#">{{item.duongDan}}</a></td>
                    
                    <td class="hidden-sm text-center">{{item.timeShow}}</td>
                    <td class="hidden-sm text-center">{{item.phoneNumber | tel}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>