<div class="row">
    <div class="col-md-12">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <div class="col-md-10 no-padding-right">
                        <select class="bs-select form-control" id="action-list" ng-model="nguonBDSListVm.selectAction">
                            <option>Chọn</option>
                            <option>Xóa</option>
                        </select>
                    </div>
                    <div class="col-md-2 no-padding-left">
                        <button type="button" class="btn green" ng-click="nguonBDSListVm.apply('select-checkBox')">Áp dụng</button>
                    </div>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <div class="col-md-1">
                            <a href="#/setting/nguonBDS-mod" class="btn blue">Thêm mới</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="width2">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="select-all-checkBox" ng-click="nguonBDSListVm.selectAll('select-all-checkBox','select-checkBox')"/>
                                        <span></span>
                                    </label>
                                </th>
                                <th class="width25"> Loại Nguồn BDS </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in nguonBDSListVm.items">
                                <td class="width2">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="select-checkBox" value="{{item.$id}}"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td class="width25"><a href="#/setting/nguonBDS-mod/{{item.$id}}"> {{item.text}} </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>
